<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css'%}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'quotes' %}">Return to the Quotes</a></h1>
        </div>
        <div class="reg">
            <a href="/quotes"><button class="btn btn-outline-primary">Head back the quotes!</button></a>
            <h1>Registration</h1>
            {% if messages %}
                <ul>
                    {% for message in messages%}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="create" method="POST">
                {% csrf_token %}
                <p>First Name: <input type="text" name="first_name"></p>
                <p>Last Name: <input type="text" name="last_name"></p>
                <p>Email: <input type="email" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <p>Confirm Password: <input type="password" name="password_confirm"></p>
                <input type="submit" value="Register!">
            </form>
        </div>
    <div class="reg loginPos">
        <h1>Login</h1>
        <form action="login" method="POST">
            {% csrf_token %}
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
</body>
</html>